* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
.about,
.bayar,
.program,
.kontak {
  padding-top: 5rem;
}
/* navbar */
.navbar .navbar-brand {
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
}
.navbar .navbar-brand span {
  color: #7fde34;
}
.navbar {
  font-size: 16px;
  font-weight: 500;
}

.btn-daftar button {
  width: 110px;
  height: 38px;
  background: #7fde34;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-style: none;
}

.btn-daftar button a {
  color: black;
  text-decoration: none;
}

/* hero */
.hero {
  background-color: #f6ffea;
}
.hero .jumbotron .img-hero {
  z-index: 2;
}

.hero .jumbotron .text-hero {
  padding: 15rem 0;
}

.hero .jumbotron .text-hero h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  width: 488px;
}

.hero .jumbotron .text-hero h1 span {
  color: #7fde34;
}

.hero .jumbotron .text-hero p {
  width: 535px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.79);
}

.hero .jumbotron .text-hero p span {
  color: #7fde34;
}
.hero .jumbotron .text-hero .btn-join button {
  width: 156px;
  height: 43px;
  background: #7fde34;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.hero .jumbotron .text-hero .btn-join button a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* about us */

.about .row h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.about .row p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about .row p a {
  color: #7fde34;
  font-weight: 700;
  text-decoration: none;
}

/* Program belajar */
.program {
  background-color: #f6ffea;
}

.program .text-program {
  padding-bottom: 3rem;
}
.program h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  padding-bottom: 5px;
}
.program .text-program p {
  font-weight: 500;
  width: 600px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.program .card-pro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.program .card-pro .card-program {
  background: #ecffee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
  width: 220px;
  height: 287px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.program .card-pro .card-program p {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding-top: 1.1rem;
}
.program .card-pro .card-program:hover {
  background-color: #459508;
  color: #ffff;
}

#mata-pelajaran-1 .profile,
#mata-pelajaran-2 .profile,
#mata-pelajaran-3 .profile,
#mata-pelajaran-4 .profile,
#mata-pelajaran-5 .profile,
#mata-pelajaran-6 .profile,
#mata-pelajaran-7 .profile,
#mata-pelajaran-8 .profile {
  padding: 10px 4%;
}
#mata-pelajaran-1 .profile h4,
#mata-pelajaran-2 .profile h4,
#mata-pelajaran-3 .profile h4,
#mata-pelajaran-4 .profile h4,
#mata-pelajaran-5 .profile h4,
#mata-pelajaran-6 .profile h4,
#mata-pelajaran-7 .profile h4,
#mata-pelajaran-8 .profile h4 {
  font-weight: 600;
  padding: 5px 0;
}
#mata-pelajaran-1,
#mata-pelajaran-2,
#mata-pelajaran-3,
#mata-pelajaran-4,
#mata-pelajaran-5,
#mata-pelajaran-6,
#mata-pelajaran-7,
#mata-pelajaran-8 {
  text-align: center;
}
#mata-pelajaran-1 p,
#mata-pelajaran-2 p,
#mata-pelajaran-3 p,
#mata-pelajaran-4 p,
#mata-pelajaran-5 p,
#mata-pelajaran-6 p,
#mata-pelajaran-7 p,
#mata-pelajaran-8 p {
  text-align: justify;
}
#mata-pelajaran-1 .modal-footer button,
#mata-pelajaran-2 .modal-footer button,
#mata-pelajaran-3 .modal-footer button,
#mata-pelajaran-4 .modal-footer button,
#mata-pelajaran-5 .modal-footer button,
#mata-pelajaran-6 .modal-footer button,
#mata-pelajaran-7 .modal-footer button,
#mata-pelajaran-8 .modal-footer button {
  background-color: #459508;
  color: #fff;
  border-style: none;
  border-radius: 5px;
}

/* bayar */
.bayar h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  padding: 1rem 0;
  text-align: center;
}
.bayar p {
  font-weight: 500;
  width: 600px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.bayar .card-new {
  display: flex;
  justify-content: center;
}
.bayar .card-bayaran {
  background-color: #ecffee;
  border-radius: 10px;
  background: #ecffee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 500px;
  width: 500px;
}
.bayar .card-bayaran h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  background-color: #7fde34;
  color: #fff;
  height: 100px;
  padding: 1.5rem 0;
}
.bayar .card-bayaran .table-bayar {
  padding: 0.8rem;
}
.bayar .card-bayaran table {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.bayar .card-bayaran .btn-bayaran {
  padding-top: 2rem;
}
.bayar .card-bayaran .btn-bayaran button {
  width: 155px;
  height: 49px;
  background: #7fde34;
  border-radius: 20px;
  border-style: none;
}
.bayar .card-bayaran .btn-bayaran button a {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffff;
  text-decoration: none;
}

/* kontak */
.kontak {
  padding-top: 5rem;
  background-color: #f6ffea;
}

.kontak .maps {
  padding: 2rem;
  background-color: #ffffff;
  border: 10px solid #ecffee;
  filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.25));
}
.kontak .maps .map {
  width: 820px;
  min-height: 100%;
  text-align: center;
}

.kontak .maps h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 10px;
}

.kontak .maps input {
  font-size: 20px;
}

.kontak .btn-kontak button {
  background: #7fde34;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 117px;
  height: 34px;
  border-style: none;
}

.kontak .btn-kontak button a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ecffee;
  text-decoration: none;
}

/* footer */

footer h4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 54px;
}

footer h4 span {
  color: #7fde34;
}

footer .down a {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  margin-right: 15px;
  text-decoration: none;
  color: #000;
}

footer .social-media {
  padding: 2rem 0;
}
footer .social-media a {
  font-size: 2.5rem;
  color: #000;
  margin-right: 20px;
}

footer .copyright {
  padding-bottom: 2rem;
}
footer .copyright p {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}
footer .copyright a {
  color: #7fde34;
  font-size: 15px;
  text-decoration: none;
}

/* Mendia Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
  .navbar {
    font-size: 15px;
    font-weight: 500;
  }
  #mata-pelajaran-1 .profile h4,
  #mata-pelajaran-2 .profile h4,
  #mata-pelajaran-3 .profile h4,
  #mata-pelajaran-4 .profile h4,
  #mata-pelajaran-5 .profile h4,
  #mata-pelajaran-6 .profile h4,
  #mata-pelajaran-7 .profile h4,
  #mata-pelajaran-8 .profile h4 {
    font-size: 18px;
  }
  #mata-pelajaran-1 p,
  #mata-pelajaran-2 p,
  #mata-pelajaran-3 p,
  #mata-pelajaran-4 p,
  #mata-pelajaran-5 p,
  #mata-pelajaran-6 p,
  #mata-pelajaran-7 p,
  #mata-pelajaran-8 p {
    text-align: justify;
    font-size: 15px;
  }
  .program .card .card-body p {
    font-size: 15px;
  }
  .bayar .card-bayaran h3 {
    font-size: 28px;
    padding: 2rem 0;
  }
  .bayar .card-bayaran table {
    font-size: 16px;
  }
  .bayar .card-bayaran {
    height: 420px;
  }
  .kontak .maps .map {
    width: 700px;
  }
  .kontak .maps input {
    font-size: 15px;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .navbar {
    font-size: 14px;
    font-weight: 500;
  }
  .navbar .btn-daftar {
    padding: 10px 0;
  }
  .navbar .btn-daftar button {
    width: 75px;
    height: 28px;
    background: #7fde34;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
  }
  .hero .jumbotron {
    display: flex;
    align-items: center;
    background-image: url("/img/hero-second.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .hero .jumbotron::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, #f6ffea 8%, rgba(219, 255, 223, 0) 50%);
  }
  .hero .jumbotron img {
    width: 350px;
    display: none;
  }
  .hero .jumbotron .text-hero h1 {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .hero .jumbotron .text-hero p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.79);
    margin-bottom: 10px;
  }
  .about .row img {
    margin-bottom: 20px;
  }
  .about .row h2 {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    padding: 5px 0;
  }
  .about .row p {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
  }
  .program .text-program h2 {
    font-size: 25px;
    line-height: 26px;
  }
  .program .text-program p {
    font-size: 14px;
    width: 450px;
    line-height: 20px;
  }
  .program .card-pro .card-program {
    width: 200px;
    height: 250px;
  }

  .program .card-pro .card-program p {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    padding-top: 1.1rem;
  }
  .program .card-pro .card-program img {
    width: 200px;
  }
  #mata-pelajaran-1 .profile h4,
  #mata-pelajaran-2 .profile h4,
  #mata-pelajaran-3 .profile h4,
  #mata-pelajaran-4 .profile h4,
  #mata-pelajaran-5 .profile h4,
  #mata-pelajaran-6 .profile h4,
  #mata-pelajaran-7 .profile h4,
  #mata-pelajaran-8 .profile h4 {
    font-size: 16px;
  }
  #mata-pelajaran-1 p,
  #mata-pelajaran-2 p,
  #mata-pelajaran-3 p,
  #mata-pelajaran-4 p,
  #mata-pelajaran-5 p,
  #mata-pelajaran-6 p,
  #mata-pelajaran-7 p,
  #mata-pelajaran-8 p {
    text-align: justify;
    font-size: 13px;
  }
  .bayar .text-bayar h2 {
    font-size: 25px;
    line-height: 26px;
  }
  .bayar .text-bayar p {
    font-size: 14px;
    width: 450px;
    line-height: 20px;
  }
  .bayar .card-bayaran h3 {
    font-size: 28px;
    padding: 3rem 0;
  }
  .bayar .card-bayaran {
    background-color: #ecffee;
    border-radius: 10px;
    background: #ecffee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 400px;
    width: 500px;
    margin: 2rem 0;
  }
  .bayar .card-bayaran .table-bayar {
    padding: 20px 20px;
  }
  .kontak .maps .map {
    width: 430px;
    position: relative;
  }
  .kontak .maps h3 {
    padding-top: 1rem;
  }
  .kontak .maps input {
    font-size: 15px;
    height: 50px;
  }
  .kontak .maps label {
    font-size: 16px;
  }
  .kontak .maps .form-label {
    font-size: 18px;
  }
  .kontak .maps .form-control {
    font-size: 18px;
  }
  footer .last-section h4 {
    font-size: 20px;
    line-height: 18px;
  }
  footer .last-section a {
    font-size: 12px;
    line-height: 18px;
    margin-right: 8px;
  }
  footer .copyright p {
    font-size: 12px;
  }
  footer .copyright p a {
    font-size: 12px;
  }
  footer .last-section,
  footer .social-media,
  footer .copyright {
    margin: 10px 0;
  }
}
/* handphone */
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .navbar {
    font-size: 13px;
    font-weight: 500;
  }
  .navbar .btn-daftar button {
    width: 75px;
    height: 28px;
    background: #7fde34;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
  }
  .hero .jumbotron .text-hero p {
    font-weight: 500;
    font-size: 16px;
    width: 450px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.79);
  }
  .bayar .card-bayaran h3 {
    font-size: 28px;
    padding: 3rem 0;
  }
  .bayar .card-bayaran {
    background-color: #ecffee;
    border-radius: 10px;
    background: #ecffee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 400px;
    width: 400px;
    margin: 2rem 0;
  }
  .bayar .card-bayaran .table-bayar {
    padding: 20px 20px;
  }
  .bayar .card-bayaran table {
    font-size: 15px;
    line-height: 30px;
  }
  .kontak .maps .map {
    width: 420px;
    position: relative;
  }
  .kontak .btn-kontak {
    padding: 10px 0;
  }
  .program .card-pro .card-program {
    width: 180px;
    height: 230px;
  }

  .program .card-pro .card-program p {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    padding-top: 1.1rem;
  }
  .program .card-pro .card-program img {
    width: 180px;
  }
}
@media (max-width: 420px) {
  html {
    font-size: 50%;
  }
  .navbar {
    font-size: 13px;
    font-weight: 500;
  }
  .navbar .btn-daftar button {
    width: 75px;
    height: 28px;
    background: #7fde34;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
  }
  .hero .jumbotron .text-hero h1 {
    font-size: 30px;
    width: 350px;
  }
  .hero .jumbotron .text-hero p {
    font-weight: 500;
    font-size: 16px;
    width: 390px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.79);
  }
  .bayar .card-bayaran h3 {
    font-size: 28px;
    padding: 3rem 0;
  }
  .bayar .card-bayaran {
    background-color: #ecffee;
    border-radius: 10px;
    background: #ecffee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 400px;
    width: 400px;
    margin: 2rem 0;
  }
  .bayar .card-bayaran .table-bayar {
    padding: 20px 20px;
  }
  .bayar .card-bayaran table {
    font-size: 15px;
    line-height: 30px;
  }
  .kontak .maps .map {
    width: 420px;
    position: relative;
  }
  .kontak .btn-kontak {
    padding: 10px 0;
  }
  .program .card-pro .card-program {
    width: 180px;
    height: 230px;
  }

  .program .card-pro .card-program p {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    padding-top: 1.1rem;
  }
  .program .card-pro .card-program img {
    width: 180px;
  }
  .kontak .maps .map {
    width: 350px;
  }
}

/* vivo */
@media (max-width: 300px) {
  html {
    font-size: 45%;
  }
  .navbar {
    font-size: 12px;
    font-weight: 500;
  }
  .navbar .btn-daftar button {
    width: 75px;
    height: 28px;
    background: #7fde34;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
  }
  .hero .jumbotron .text-hero h1 {
    font-size: 25px;
    width: 280px;
  }
  .hero .jumbotron .text-hero p {
    font-weight: 500;
    font-size: 16px;
    width: 280px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.79);
  }
  .hero .jumbotron .text-hero .btn-join button {
    width: 100px;
    height: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
  }
  .bayar .card-bayaran h3 {
    font-size: 28px;
    padding: 3rem 0;
  }
  .bayar .card-bayaran {
    background-color: #ecffee;
    border-radius: 10px;
    background: #ecffee;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 400px;
    width: 400px;
    margin: 2rem 0;
  }
  .bayar .card-bayaran .table-bayar {
    padding: 20px 20px;
  }
  .bayar .card-bayaran table {
    font-size: 15px;
    line-height: 30px;
  }
  .kontak .maps .map {
    width: 420px;
    position: relative;
  }
  .kontak .btn-kontak {
    padding: 10px 0;
  }
  .program .text-program h2,
  .bayar .text-bayar h2 {
    font-size: 22px;
    font-weight: 500;
  }
  .program .text-program p,
  .bayar .text-bayar p {
    text-align: justify;
    font-size: 14px;
  }
  .program .card-pro .card-program {
    width: 150px;
    height: 200px;
  }

  .program .card-pro .card-program p {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    padding-top: 1.1rem;
  }
  .program .card-pro .card-program img {
    width: 150px;
  }
  .kontak .maps .map {
    width: 350px;
  }
  .bayar {
    padding: 0 5%;
  }
  .bayar .card-bayaran {
    height: 400px;
    width: 320px;
    margin: 2rem 5%;
  }
  .bayar .card-bayaran .table-bayar {
    padding: 10px 10px;
  }
  .bayar .card-bayaran table {
    font-size: 13px;
    line-height: 30px;
  }
  .kontak .maps .map {
    width: 250px;
  }
  footer .last-section h4 {
    font-size: 14px;
    line-height: 18px;
  }
  footer .last-section a {
    font-size: 10px;
    line-height: 18px;
    margin-right: 8px;
  }
  footer .copyright p {
    font-size: 9px;
  }
  footer .copyright p a {
    font-size: 9px;
  }
  footer .last-section,
  footer .social-media,
  footer .copyright {
    margin: 10px 7%;
  }
}
}
