* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
.about,
.bayar,
.program,
.kontak {
  padding-top: 5rem;
}
/* navbar */
.navbar .navbar-brand {
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
}
.navbar .navbar-brand span {
  color: #7fde34;
}
.navbar {
  font-size: 16px;
  font-weight: 500;
}

.btn-daftar button {
  width: 110px;
  height: 38px;
  background: #7fde34;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-style: none;
}

.btn-daftar button a {
  color: black;
  text-decoration: none;
}

/* hero */
.hero {
  display: flex;
  min-height: 300px;
  overflow-x: hidden;
  background: url(/img/testimoni/hero.png);
  background-size: cover;
  justify-content: center;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25));
}
.hero .content {
  padding-top: 9rem;
}
.hero .content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}
/* Testimoni section */
.testimoni {
  padding-top: 2rem;
}
.testimoni h2 {
  font-weight: 700;
  font-size: 40px;
}

.testimoni h2 span {
  color: #7fde34;
}

.testimoni .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimoni .row .testimoni-menu {
  width: 310px;
  background: #ecffee;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 6rem;
  padding: 10px;
  margin-right: 15px;
}

.testimoni .row .testimoni-menu h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 30px;
  padding-top: 5.3rem;
}

.testimoni .row .testimoni-menu p {
  text-align: justify;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 23px;
  padding: 0 5px;
}

/* join section */

.join {
  background-color: #f6ffea;
}

.join .text-join {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
.join h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  width: 734px;
}

.join h4 span {
  font-weight: 700;
}

.join .btn-beranda button {
  width: 500px;
  height: 85px;
  background: #ccffd1;
  border-bottom: 4px solid #000000;
  border-radius: 10px;
  margin-bottom: 30px;
}

.join .btn-beranda button a {
  font-weight: 600;
  font-size: 25px;
  line-height: 60px;
  text-decoration: none;
  color: #000000;
}
/* footer */
footer {
  background-color: #ffffff;
}
footer h4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 54px;
}

footer h4 span {
  color: #7fde34;
}

footer .down a {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  margin-right: 15px;
  text-decoration: none;
  color: #000;
}

footer .social-media {
  padding: 2rem 0;
}
footer .social-media a {
  font-size: 2.5rem;
  color: #000;
  margin-right: 20px;
}

footer .copyright {
  padding-bottom: 2rem;
}
footer .copyright p {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}
footer .copyright a {
  color: #7fde34;
  font-size: 15px;
  text-decoration: none;
}

/* Mendia Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
  .navbar {
    font-size: 15px;
    font-weight: 500;
  }
  .hero .content {
    padding-top: 11rem;
  }
  .testimoni .row .testimoni-menu .img-circle {
    padding-bottom: 0.7rem;
  }
  .testimoni .row .testimoni-menu img {
    width: 130px;
    height: 130px;
  }
  /* join */
  .join h4 {
    font-size: 2rem;
    line-height: 40px;
    width: 734px;
  }

  .join h4 span {
    font-weight: 700;
  }

  .join .btn-beranda button {
    width: 500px;
    height: 85px;
  }

  .join .btn-beranda button a {
    font-weight: 600;
    font-size: 1.87rem;
    line-height: 60px;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .navbar {
    font-size: 14px;
    font-weight: 500;
  }
  .navbar .btn-daftar {
    padding: 10px 0;
  }
  .navbar .btn-daftar button {
    width: 75px;
    height: 28px;
    background: #7fde34;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
  }
  .hero {
    min-height: 250px;
  }
  .hero h1 {
    font-size: 40px;
    line-height: 72px;
    padding: 1rem 0;
  }
  /* testimoni section */
  .testimoni .row .testimoni-menu .img-circle {
    padding-bottom: 0.6rem;
  }
  .testimoni .row .testimoni-menu img {
    width: 100px;
    height: 100px;
  }
  .testimoni h2 {
    font-size: 3rem;
    line-height: 40px;
  }
  .testimoni .row .testimoni-menu {
    width: 280px;
    background: #ecffee;
  }

  .testimoni .row .testimoni-menu h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 20px;
  }

  .testimoni .row .testimoni-menu p {
    font-size: 1rem;
    line-height: 18px;
  }
  /* join */
  .join h4 {
    font-size: 2rem;
    line-height: 35px;
    width: 650px;
  }

  .join h4 span {
    font-weight: 700;
  }

  .join .btn-beranda button {
    width: 400px;
    height: 75px;
  }

  .join .btn-beranda button a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 60px;
  }

  footer .last-section h4 {
    font-size: 20px;
    line-height: 18px;
  }
  footer .last-section a {
    font-size: 12px;
    line-height: 18px;
    margin-right: 8px;
  }
  footer .copyright p {
    font-size: 12px;
  }
  footer .copyright p a {
    font-size: 12px;
  }
  footer .last-section,
  footer .social-media,
  footer .copyright {
    margin: 10px 0;
  }
}
/* handphone */
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .navbar {
    font-size: 13px;
    font-weight: 500;
  }
  .navbar .btn-daftar button {
    width: 75px;
    height: 28px;
    background: #7fde34;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
  }
  .hero {
    min-height: 120px;
  }
  .hero .content {
    padding-top: 9rem;
  }
  .hero .content h1 {
    font-size: 28px;
    padding-bottom: 3rem;
  }
  /* testimoni section */
  .testimoni .row .testimoni-menu .img-circle {
    padding-bottom: 0.2rem;
  }
  .testimoni .row .testimoni-menu img {
    width: 70px;
    height: 70px;
  }
  .testimoni h2 {
    font-size: 3rem;
    line-height: 40px;
  }
  .testimoni .row .testimoni-menu {
    width: 200px;
    background: #ecffee;
  }

  .testimoni .row .testimoni-menu h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 20px;
  }

  .testimoni .row .testimoni-menu p {
    font-size: 1rem;
    line-height: 18px;
  }
  /* join */
  .join h4 {
    font-size: 2rem;
    line-height: 35px;
    width: 650px;
  }

  .join h4 span {
    font-weight: 700;
  }

  .join .btn-beranda button {
    width: 350px;
    height: 60px;
  }

  .join .btn-beranda button a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 50px;
  }

  /* footer */
  footer {
    padding: 0 5%;
  }
  footer .last-section h4 {
    font-size: 15px;
    line-height: 18px;
  }
  footer .last-section a {
    font-size: 10px;
    line-height: 18px;
    margin-right: 5px;
  }
  footer .copyright p {
    font-size: 12px;
  }
  footer .copyright p a {
    font-size: 12px;
  }
}
/* phonee */
@media (max-width: 420px) {
  html {
    font-size: 50%;
  }
  .navbar {
    font-size: 13px;
    font-weight: 500;
  }
  .navbar .btn-daftar button {
    width: 75px;
    height: 28px;
    background: #7fde34;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
  }
  /* testimoni section */
  .testimoni .row .testimoni-menu .img-circle {
    padding-bottom: 0.2rem;
  }
  .testimoni .row .testimoni-menu img {
    width: 70px;
    height: 70px;
  }
  .testimoni h2 {
    font-size: 3rem;
    line-height: 40px;
  }
  .testimoni .row .testimoni-menu {
    width: 150px;
    background: #ecffee;
  }
  /* join */
  .join h4 {
    font-size: 2rem;
    line-height: 30px;
    width: 650px;
  }

  .join h4 span {
    font-weight: 700;
  }

  .join .btn-beranda button {
    width: 330px;
    height: 60px;
  }

  .join .btn-beranda button a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 50px;
  }

  .testimoni .row .testimoni-menu h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 20px;
  }

  .testimoni .row .testimoni-menu p {
    font-size: 1rem;
    line-height: 18px;
  }
}
/* vivo */
@media (max-width: 300px) {
  html {
    font-size: 50%;
  }
  .navbar {
    font-size: 10px;
    font-weight: 500;
  }
  .navbar .btn-daftar button {
    width: 75px;
    height: 28px;
    background: #7fde34;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
  }
  /* testimoni section */
  .testimoni .row .testimoni-menu .img-circle {
    padding-bottom: 0.2rem;
  }
  .testimoni .row .testimoni-menu img {
    width: 70px;
    height: 70px;
  }
  .testimoni h2 {
    font-size: 3rem;
    line-height: 40px;
  }
  .testimoni .row .testimoni-menu {
    width: 175px;
    background: #ecffee;
  }

  .testimoni .row .testimoni-menu h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 20px;
  }

  .testimoni .row .testimoni-menu p {
    font-size: 1rem;
    line-height: 18px;
  }
  /* join */
  .join h4 {
    font-size: 2rem;
    line-height: 30px;
    width: 650px;
  }

  .join h4 span {
    font-weight: 700;
  }

  .join .btn-beranda button {
    width: 280px;
    height: 60px;
  }

  .join .btn-beranda button a {
    font-weight: 600;
    font-size: 1.87rem;
    line-height: 50px;
  }

  .testimoni .row .testimoni-menu h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 20px;
  }

  .testimoni .row .testimoni-menu p {
    font-size: 1rem;
    line-height: 18px;
  }
  footer .last-section h4 {
    font-size: 10px;
    line-height: 18px;
  }
  footer .last-section a {
    font-size: 8px;
    line-height: 18px;
    margin-right: 5px;
  }
  footer .copyright p {
    font-size: 6px;
  }
  footer .copyright p a {
    font-size: 6px;
  }
}
